@media (max-width: 1500px){
	.header_content {padding: 0px 20px;}
	.navbar-expand-xl .navbar-nav .nav-item, ul.login_register li{margin-left: 25px;}
	.footer_top, .footer_bottom {padding: 35px;}
	footer .logo {padding: 45px 0px 30px;}
	.footer_contact_details a, .footer_contact_details p{font-size: 14px;}
}
@media (max-width: 1366px){
	.header_menu nav.navbar{padding: 0 20px;}
	.navbar-expand-xl .navbar-nav .nav-item, ul.login_register li {margin-left: 20px;line-height: 25px;vertical-align: middle;}
	.navbar-expand-xl .navbar-nav .nav-link, ul.login_register li > a{font-size: 14px;}
	.footer_left, .footer_right{width: 100%;float: none;border: none;}
	.footer_contact_info span {width: 33.33%;float: left;}
	.footer_contact_info {padding: 20px;height: auto;display: table;width: 100%;border-bottom: 1px solid #434141;}
	.footer_top, .footer_bottom{padding: 20px;}
	footer .logo{padding: 0px 0px 10px;}
	.right_side_search .side_search_content{padding: 12px;}
	.side_search_content h6{padding-bottom: 5px;}
	.side_search_content p {font-size: 12px;padding-bottom: 10px;line-height: 18px;}
	.side_search_btn{margin-bottom: 15px;}
	.side_search_content span{font-size: 14px;}
	.side_search_content hr {margin: 5px 0px !important;}
	.right_side_search .side_search_content{width: 300px;right: -300px;}
	a.search_control_btn{height: 40px;width: 40px;padding: 7px 12px;left: -40px;}
	.side_search_content a img{max-width: 16px;}
	.header_content .dropdown-menu .dropdown-item{padding: 6px 15px;}
	.header_menu nav.navbar{padding: 0 20px;}
}
@media (max-width: 1199px){
	button.navbar-toggler {display: block;}
	.logo img {max-width: 150px;}
	.header_menu ul.login_register{position: relative; right: 70px;}
	.header_menu nav.navbar {position: absolute;left: 0;right: 0;top: 54px;background-color: #fff;padding: 0;z-index: 11; border: none;}
	.navbar-collapse{border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;}
	.navbar-expand-xl .navbar-nav .nav-item{margin: 0px;border-bottom: 1px solid #ddd;}
	.header_content .dropdown-menu .dropdown-item{padding: 5px 25px;}
	.navbar-expand-xl .navbar-nav .nav-link{padding: 5px 10px;}
	.header_content .dropdown:hover .dropdown-menu,.header_content .navbar-nav .mydropdown:hover .dropdown-menu{display: none;}
	.header_content .dropdown.show .dropdown-menu,.header_content .navbar-nav .mydropdown.show .dropdown-menu{display: block;}
	.navbar-expand-xl .navbar-nav .nav-item.show .nav-link,.navbar-expand-xl .navbar-nav .nav-link:hover,.navbar-expand-xl .navbar-nav .nav-link.active, .header_content nav.navbar .dropdown:hover .dropdown-toggle,.header_content .navbar-nav .mydropdown:hover .dropdown-toggle{color: #fff;background-color: #0c4e93;}
	.header_content nav.navbar .dropdown-menu{margin: 0px;border: none;}
	.login_register .dropdown-menu{margin: 0px;}
	.mydropdown .col-xl-6:first-child{border-bottom: 1px solid #ddd; border-right: none;}
	.header_content .dropdown .dropdown-toggle,.header_content .navbar-nav .mydropdown .dropdown-toggle{pointer-events: auto;}
	.login_register  .dropdown.nav-item > a{padding: 14.5px 0px;}
	.header_content .dropdown .dropdown-menu{top: 54px!important;}
}
@media (max-width: 991px){
	.heartbeatloader{height: 200px;width: 200px;}
}
@media (max-width: 767px){
	ul.copyright_text, ul.social_media_links{float: none;width: 100%;text-align: center;display: inline-block;}
	ul.copyright_text li, ul.social_media_links li{float: none;}
	ul.social_media_links{padding-top: 15px;}
	ul.social_media_links li{margin: 0px 5px;}
}
@media (max-width: 575px){
	.right_side_search .side_search_content {width: 260px;right: -260px;top: 90px;}
	.header_menu ul.login_register {border-top: 1px solid #ddd;float: none;width: 100%;text-align: center;display: table; right: 0;}
	button.navbar-toggler{right: 10px;}
	ul.login_register li{float: none; margin: 0px 10px;}
	.header_content .header_menu{float: none;}
	.header_content .logo{position: relative; width: 100%;}
	.header_content .dropdown .dropdown-menu{top: 35px!important;}
	ul.login_register li > a {padding: 5px 0px;}
	.header_menu nav.navbar{top: 52px;}
}
@media (max-width: 812px) and (orientation : landscape) {
	.right_side_search .side_search_content {top: 0;bottom: 0;}
	a.search_control_btn{top: 100px;}
	.scroll_for_mobile {overflow: auto;max-height: 100%;}
}