
/*Doctor consultation Page css*/
.specialities{
	background-image: url(../images/pediatrics-top1.svg);
	background-repeat: no-repeat;
	padding: 23px 0px;
	position: relative;
	border-bottom: 1px solid #dddddd;
	background-attachment: fixed;
}
.specialities:before{
	content: "";
	background-color: rgba(255,255,255,0.90);
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}
.specialities_blue{
	background-image: url(../images/pediatrics-top1.svg);
	background-repeat: no-repeat;
	background-size: contain;
	padding: 40px 0px;
	position: relative;
	background-attachment: fixed;
}
.specialities_blue:before{
	content: "";
	background-color: rgba(20, 42, 66, 0.85);
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}
.specialities_blue,.specialities  .section_title h2{
	font-size: 26px;
	font-weight: 400;
	display: inline-block;
	line-height: 34px;
	position: relative;
}
.section_title h2 img{
	margin-left: 15px;
}
.specialities_toggle_btn{
	display: inline-block;
	float: right;
	position: relative;
}
.specialities_toggle_btn a{
	color: #299fd9 !important;
	border: 1px solid #299fd9;
	padding: 4px 12px;
}
a.speciality_menu_links {
	height: 150px;
	border: 1px solid #a0a0a0;
	color: white;
	margin-top: 30px;
	padding: 15px;
	position: relative;
	background-color: #fff;
}
.open_speciality{
	display: block;
}
.speciality_menu_links p {
	text-align: center;
	width: 100%;
	color:#363636;
}
.speciality_menu_links img {
	margin: 10px auto;
	filter: grayscale(100%) brightness(105%);
}
a.speciality_menu_links:hover{
	border-color: #008cd2;
}
a.speciality_menu_links:hover p{
	color: #008cd2;
}
a.speciality_menu_links:hover img{
	filter: none;
}
.see_how_it_work {
    padding: 60px 0px 57px;
}
.see_how_it_work p {
	margin-top: 20px;
	line-height: 33px;
}

/*Doctor consultation doctor list page css start*/
.doctor_blue{
	color: #0c4e93;
}	
.dermatology_doctor_detail {
    margin-top: 2px;
    padding: 25px 0px;
}
.dermatology{
	padding: 30px 0px;
}
.dermatology_info {
    height: 120px;
    border: 1px solid #dddddd;
    color: white;
    margin-top: 10px;
    padding: 15px 8px;
    position: relative;
}
.dermatology_info img {
	margin: 10px auto;
	height: 40px;
    width: 100%;
}
.dermatology_info p {
	text-align: center;
	width: 100%;
	color: black;
	font-weight: 400;
	font-size: 13px;
}
/*.doctor_image{
	width: 323px;
	height: 316px;
	overflow: hidden;
}*/
.doctor_image {
    width: 351px;
    height: 402px;
    overflow: hidden;
}
.doctor_profile{
	height: 100%;
    max-height: 315px;
}
.doctor_image img{
	max-width: 100%;
	max-height: 100%;
	min-width: 100%;
	height: 100%;
	object-fit: cover;
}
.doctor_name{
	line-height: 26px;
	margin-bottom: 10px;
}
.doctor_name h4{
	font-weight: 700;
	border-left: 2px solid #0c4e93;
	padding: 0px 20px
}
.doctor_name p{
	padding-left:24px;
}
.doctor_overview{
	line-height: 26px;
}
.doctor_overview h6{
	color: #222222;
	font-size: 20px;
}
.doctor_overview p{
	color: #757575;
}
.doctor_details button {
    border: 2px solid #0c4e93;
    color: #0c4e93;
    padding: 6px 31px;
    font-weight: 700;
    font-size: 15px;
    background-color: transparent;
    text-transform: uppercase;
    border-radius: 0px!important;
}
.doctor_details button:hover{
	background-color: #0c4e93!important;
	color: white!important;
}
.doctor_consult {
    padding: 6px 0px 0px;
}
.doctor_consult strike{
	font-size: 21px;
}
.blue_price{
	color: #008cd2;
	font-size: 26px;
}
.gray_save{
	color: #757575;
	font-size: 16px;
}

/*My appointment page css start*/
th.fc-day-header.fc-widget-header {
	    padding: 9px 21px;
	background-color: #0c4e93!important;
	color: white!important;
	text-align: left!important;
	text-transform: uppercase;
}
.fc-right button.fc-today-button {
	display: none!important;
}
td.fc-day-number {
	height: 79px;
}
td{
	border-color: #e5eaf0 !important
}
.fc-ltr .fc-basic-view .fc-day-number {
	padding: 4px;
}
#calendar{
	margin: 15px 0px;
}
#calendar1 {
    margin: 19px 0px 52px;
}
#calendar1 h2{
	font-size: 16px!important;
}
button.fc-button {
	outline: none!important;
}
.fc-button-group, .fc button{
	display: inline-block!important;
}
td.fc-day-number.fc-today.fc-state-highlight {
	background-color: rgba(186, 217, 250, 0.38)!important;
}
.fc tbody .fc-row .fc-content-skeleton tbody tr:last-child td {
	padding-bottom: 0!important; 
}
.fc-state-default {
	border: none!important;
	background-color: white!important;
	background-image: none!important;
	box-shadow: none!important;
}
a.fc-day-grid-event.fc-event {
	border: none!important;
	font-weight: 700;
}
td.fc-day-number.fc-sun {
    background: #eee!important;
}
.appointment_calendar_1{
	padding: 20px 0px 30px;
}
/*search clinic page css start*/
.search_clinic{
	padding: 40px 0px;
}
.search_clinic select {
	width: 100%;
	padding: 10px;
}
.search_clinic input.form-group {
    padding: 9px;
    width: 100%;
    margin-top: 10px;
    position: relative;
    z-index: 11;
}
button.btn.search_btn {
	border-radius: 0px;
	color: #fff;
	background-color: #008cd2;
	outline: none;
	padding: 7px;
	width: 100%;
	margin-top: 22px;
}
.google_map iframe{
	width: 100%;
	height: 600px;
	margin-top: 32px;
}
/*secondOpinion page css start*/
.medical_records{
	padding: 53px 0px;
	border-top: 1px solid #ddd;
}
.medical_records p{
	line-height: 33px;
}
.search_second_opinion p {
    line-height: 24px;
    font-size: 16px;
}
/*follow up consultation page css start*/
.text_upper{
	text-transform: uppercase;
}
.therapy_care {
    background-color: #fff;
    border-top: 2px solid #008cd2;
    height: 100%;
    margin-top: 15px;
    padding: 40px;
    width: 100%;
    box-shadow: 0px 0px 7px lightgrey;
    max-height: 370px;
}

.therapy_care img {
    margin: 10px auto;
    height: 69px;
    width: 51px;
}
.therapy_care p {
	text-align: center;
	display: table;
	width: 100%;

}
.therapy_care strike {
	font-size: 24px;
}
.mt_2{
	margin-top: 15px;
}
.mr_2{
	margin-right:  10px;
}
.px_2{
	padding: 10px 62px;
}
/*family doctor page css start*/
.family_doctor{
	padding: 66px 0px;
}
a.tab_link {
	padding: 34px 4px;
	border: 1px solid;
	width: 169px;
	height: 149px;

	text-align: center;
	filter: grayscale(100%);
}
a.tab_link.active {
	color: #1c5a9a;
	filter: none;
}
/* .form-check {
	padding: 0!important;
} */
.select_date_appoinment {
    margin: 0px -8px;
    display: inline-block;
}
.select_date_appoinment .form-check {
    display: inline-block;
    width: calc(100% / 7);
    padding: 0px 8px;
    float: left;
}
.family_doctor input[type=checkbox], input[type=radio]{
	display: none;
}
.form-check-label{
	font-size: 16px;
}
input[type=radio]:checked + label{
	background-color: #0c4e93;
	color: white;
	padding: 7px 41px;
	cursor: pointer;
	outline: none;
}
input[type=radio] + label{
	background :transparent;
	color: #636363;
	padding: 7px 41px;
	cursor: pointer;
	outline: none;
	border: 1px solid #d6d6d6;
}
.radio_form{
	padding:15px; 
}
.tab-pane p{
	line-height: 20px;
	margin-top: 10px;
}
.family_doctor_des {
	margin: 14px 0px 22px;
   }
.family_doctor p{
	line-height: 33px;
}

/*Physiotherapy detail list page css start*/
.details_des_section {
	padding: 0px 0px 40px;
}
.details_des_section ul{
	padding: 0px 18px;
}
.details_des_section li{
	list-style-type:  circle;
}
.fs{
	font-size: 25px;
}
.details span{
	line-height: 33px;
}
.details a.tab_link {
	padding: 38px 0px!important;
	height: 148px!important;
} 
.text_center{
	margin: 0px auto;
}

/*Physiotherapy detail page css start*/
.pain_management p{
	line-height: 33px;
}
.navy_blue_font{
	color: #0c4e93;
}
.blue_font{
	color: #008cd2;
}
p.pain_management_list{
	height: 150px;
	border: 1px solid #a0a0a0;
	color: white;
	margin-top: 30px;
	padding: 15px;
	position: relative;
	background-color: #fff;
}
.pain_mangement_main {
	border-bottom: 1px solid #dddddd;
	padding-bottom: 40px;
	margin-bottom: 34px;
}
.pain_mangement_right{
	border-left: 1px solid #dddddd;
	padding-left: 20px;
	height: 100%;
}
.pain_mangement_btn button {
	border: 2px solid #0c4e93;
	color: #0c4e93;
	padding: 10px 29px;
	font-weight: 700;
	background-color: transparent;
	text-transform: uppercase;
}

/*medicine supply*/
.medicine_middle_class {
    padding: 63px 0px 42px;
}
.medicine_content{
	margin-top: 20px;
	line-height: 33px;
}
.medicine_gray_font{
	color: #757575;
}
/*medical supply list page css start*/
.baby_care_title{
	padding: 40px;
}
.baby_care_border {
    padding: 18px 0px;
}
.baby_care{
	background-color: #fff;
	border-top: 2px solid #008cd2;
	height: 368px;
	margin-top: 15px;
	padding: 40px 20px;
	width: 100%;
	box-shadow: 0px 0px 7px lightgrey;
}
.baby_care img{
	margin: 10px auto;
}
.baby_care p {
	text-align: center;
	display: table;
	width: 100%;
}
/*physiotherapy page css start*/
.physiotherapy_tab{
	padding: 40px 0px;
}
.physiotherapy_tab .nav-tabs .nav-item.show .nav-link, .physiotherapy_tab .nav-tabs .nav-link.active {
	color: #000000!important;
	border-bottom: 4px solid #0c4e93!important;
}
.physiotherapy_tab .nav-tabs .nav-link {
	border: none!important;
	text-transform: uppercase;
	color: #999999!important;
}
.physiotherapy_tab .nav-tabs {
    border: none;
    width: 70%;
    margin: auto;
}
/*nursing page css start*/
.nursing_main{
	padding: 60px 0px;
	border-bottom: 1px solid #dddddd;
}
.popular_spacing{
	    padding: 80px 0px 64px;
}
.features_nursing{
	padding: 40px 0px;
}
.feature_detail_card{
	text-align: center;
	border: 1px solid #dddddd;
	padding: 40px;
	margin: 13px 0px;
	width: 100%;
}
.feature_detail_card_blue {
    color: white;
    text-align: center;
    padding: 48px 0px 11px;
    margin: 20px 0px;
    width: 100%;
    font-weight: 700;
    font-size: 14px!important;
}
.blue_image img {
    filter: brightness(1.9);
    height: 100%;
    max-width: 67px;
    max-height: 67px;
}
.feature_detail_card_blue hr{
	border: 2px solid;
	border-color: #0c4e93!important;
	width: 18%;
	margin: 20px auto;
}
/*doctor login page css start*/
.doctor_login_box {
    border: 1px solid #dddddd;
    padding: 23px;
    margin: 73px auto;
    width: 100%;
    max-width: 429px;
    display: table;
}
.otp_box{
	width: 100%;
	max-width: 500px!important;
}
.doctor_login_box button {
	width: 100%;
	margin: 22px 0px 0px;
	border: none;
	border-radius: 0px!important;
	padding: 8px 0px;
	color: #fff;
	background-color: #008cd2!important;
	font-weight: 600;
}
.doctor_login_box h3 {
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.doctor_login_box p{
	margin: 10px 0px;
	font-weight: 300;
}
/*register patient page css*/
.btn-group{
	width: 100%;
	height: 40px;
}
.btn-group button{
	border: 1px solid #dddddd;
}
.register_box {
	border: 1px solid #dddddd;
	padding: 19px 23px;
	    margin: 69px auto 82px;
	width: 100%;
    max-width: 780px;
    display: table;
}
.register_box button {
	margin: 15px 0px 0px;
	border: none;
	padding: 7px 47px;
	color: #fff;
	background-color: #008cd2;
	font-weight: 600;
}
.register_box h3 {
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.register_box label{
	font-weight: 300;
}
.register_box  .input_with_icont i ,.doctor_login_box   .input_with_icont i{
    padding: 12px 9px;
    color: #888888;
}
.btn-light:not(:disabled):not(.disabled).active{
	color: #fff!important;
	background-color: #0c4e93!important;
	border-color: transparent!important;
	border-radius: 0px!important; 
}
.register_box .btn{
	border-radius: 0px!important;
	border: 1px solid #dddddd;
	padding: 10px;
}
.input-group-text {
	background-color: transparent!important; 
	border-radius: 0px!important; 
}
.upload_btn label{
	width: 100%;
	border: none;
	padding: 8px 0px;
	color: #fff;
	background-color: #008cd2;
	text-align: center;
}
/*appointment booking after login page css*/
.book_appointment{
	padding: 35px 0px;
}
.book_appointment label{
	margin-bottom: 8px;
}
.book_appointment select {
	width: 100%;
	padding: 7px;
}
.btn-group-toggle>.btn{
	margin-top: 0!important;
}
.book_appointment label.btn-light {
	border: 1px solid #dddddd;
	padding: 7px
}
.book_appoinment .section_title h2 {
    padding-bottom: 0px;
}
/*e-prescription page css start*/
.doctor_prescription{
	padding: 30px;
	min-height: 100vh;
	margin: 40px 0px;
}
.quali {
	text-align: right;
}
.index_medicine {
	display: flex;
	justify-content: space-between;
}
.index_medicine hr {
	display: inline-block;
	width: calc(100% - 20px);
	text-align: center;
}
.index_medicine span {
	display: inline-flex;
}
.index_medicine span.medicine_name {
	white-space: nowrap;
}
.index_medicine span.line{
	width: 100%;
}
/*lab booking radiology*/
.lab_image{
	width: 100%;
	height: 332px;
	border: 1px solid #dddddd;
	position: relative;
}
.lab_image img{
	max-width: 100%;
	max-height:100%;
	margin: auto;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	display: block;
}
.lab_detail{
	margin: 16px 0px;
}
/*appoinment booking based on doctor*/
.appoinment_calendar_1 {
    padding: 40px 0px 55px;
}
.select_date_appoinment input[type=radio]:checked + label{
	border: 1px solid #0c4e93;
	color: #0c4e93;
}
.select_date_appoinment input[type=radio] + label{
	background :transparent;
	color: #636363;
	padding: 25px 0;
	cursor: pointer;
	width: 100%;    
	margin: 20px 0px 0px;
	border: 1px solid #d6d6d6;
}
/* .select_date_appoinment,.form-check-label{
	font-size: 16px;
	width: 100%;
} */
.tc_apply {
    padding: 49px 0px 55px;
}
.pick_date_margin_top{
	margin-top: 51px;
}
/*appoinment booking based on hospital*/
.book_ur_appoinment{
	padding: 42px 0px;
	border-bottom: 1px solid #dddddd;
}
.book_ur_appoinment select {
    width: 100%;
    padding: 7px 16px;
    margin: 7px 0px 10px;
}
.tc_apply input + label {
	padding-left: 40px;
	position: relative;
}
.tc_apply input + label:before {
	content: "";
	background-image: url(../images/check.svg);
	height: 25px;
	width: 25px;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	background-position: -50px 0px;
}
.tc_apply input:checked + label:before{
	background-position: 0px 0px;
}
.border-bottom, .border-right{
	border-color: #c4c4c4 !important;
}
.register_box input + label {
	padding-left: 40px;
	position: relative;
}
.register_box input + label:before {
	content: "";
	background-image: url(../images/check.svg);
	height: 25px;
	width: 25px;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	background-position: -50px 0px;
}
.register_box input:checked + label:before{
	background-position: 0px 0px;
}
.line_before {
    display: table;
    width: 100%;
    position: relative;
}
.line_before:after {
    content: "";
    height: 1px;
    background-color: #ddd;
    position: absolute;
    left: -30px;
    right: -30px;
    top: 0;
    bottom: 0;
    margin: auto;
}
.left_drawer{
	height: 100vh;
}
.dashboard li{
 list-style: none;
 padding: 10px 19px;
 border-bottom: 1px solid #ddd;
}
.dashboard .card-body {
    padding: 0px;
}
.dashboard li:before{
	content: ">";
	margin-right: 5px;
}
.dashboard{
	padding: 30px 0px ;
}
/*validate otp*/
.validate_otp{
	padding: 0px 30px;
}
.validate_otp a{
	text-align: center;
}
.validate_otp i {
    padding: 12px 8px;
}

/*appoinment booking v3*/
.geolocation_menu{
	background-color: #0f4e95;
	padding: 10px;
	color: #fff;
}
.geolocation_menu select {
	width: 100%;
	padding: 9px;
	margin: 10px 0px;
}
.geolocation_menu input.form-group {
    padding: 8px;
    width: 100%;
    margin-top: 10px;
    position: relative;
    z-index: 11;
}
.hospital_menu{
	background-color: #0f4e95;
	padding: 10px;
	color: #fff;
}
.hospital_menu select {
	width: 100%;
	padding: 9px;
	margin: 10px 0px;
}
.hospital_menu input.form-group {
    padding: 8px;
    width: 100%;
    margin-top: 10px;
    position: relative;
    z-index: 11;
}
.show_search_fields {
    outline: none!important;
    border: 3px solid #888888;
}
.select2-container--default .select2-selection--single {
    border-radius: 0px!important; 
    height: 40px;
    border: 1px solid #ddd;
    padding: 5px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
	display: none;
}
.show_search_fields{
	position: relative;
}
.show_search_fields:after {
    content: "";
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #888888;
    position: absolute;
    bottom: -13px;
    left: -2px;
}
span.select2 {
    width: 100%!important;
}
/*lab report css*/
.lab_report{
	padding: 30px 0px;
}
.report_type_box{
	background-color: #f4f4f4;
	padding: 15px;
	margin-bottom: 10px;
}
.report_type_box p{
	color: #757575;
}
.lab_report_price{
	color: #008cd2;
	font-size: 20px;
}

/*compare lab css page*/
.lab_compare_title_box {
    margin: auto;
    text-align: center;
    background-color: #f7f7f7;
    padding: 41px 0px 25px;
    border-bottom: 2px solid #ddd;
}
.lab_comapre_box {
	border: 1px solid #ddd;
	margin: 0px 10px;
}
.compare_lab_content {
    padding: 25px 13px;
}
.lab_comapre_box p{
	color: #757575;
}
.lab_compare_title_box p {
    color: black!important;
    text-transform: uppercase;
    margin-top: 18px;
    font-size: 18px;
    font-weight: bold;
}
.content_height{
	line-height: 33px;
	margin-top: 10px;
}
.lab_booking .section_title h2 {
    padding-bottom: 0;
    padding-top: 35px;
}
.lab_list {
    padding: 56px 0px 73px;
}
.lab_compare_title_box img {
    margin: auto;
    text-align: center;
}
.compare_lab_main_box .slick-arrow {
    position: absolute;
    height: 56px;
    width: 33px;
    padding: 10px 5px;
    top: 33px;
    bottom: 0;
    margin: auto;
    color: #000;
    border: none;
    outline: none;
    box-shadow: none;
    z-index: 11;
    background-color: #008cd2;
    font-size: 24px;
}
.compare_lab_main_box .slick-arrow.slick-prev {
    left: -24px;
}
.compare_lab_main_box .slick-arrow.slick-next {
    right: -24px;
}
.nursing_main .section_title h2{
    padding-bottom: 0;
}
.mt_4{
	margin-top: 2rem!important;
}
.accordion {
    background-color:transparent!important;
    padding: 0px!important;
}
.accordion>.card .card-header {
    color: white;
    background-color: #0c4e93;
}
.css-yk16xz-control {
    border-radius: 0px!important;
}
.our_service_for_mobile{
	display: none;
}
.our_service_for_mobile .card-header {
	background-image: url(../images/home_tab_bg.svg);
	background-size: cover;
	position: relative;
	z-index: 11;
	padding: 22px 30px 44px;
	margin: 4px 0px;
}
.our_service_for_mobile .card-header:before{
	content: "";
	background-color: rgba(12, 78, 147, 0.8);
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}
.our_service_for_mobile .card-header p {
    position: absolute;
    right: 0;
    left: 30px;
}
.our_service_for_mobile .card-header img{
	filter: brightness(100);
}
.our_service_for_mobile.card-body {
    padding: 28px!important;
    line-height: 28px;
}
.our_service_for_mobile h5 {
    margin: 11px 0px;
}
.popular_pryde_slider .slick-arrow {
    position: absolute;
    height: 56px;
    width: 33px;
    padding: 10px 5px;
    top: 33px;
    bottom: 0;
    margin: auto;
    color: #000;
    border: none;
    outline: none;
    box-shadow: none;
    z-index: 11;
    background-color: #008cd2;
    font-size: 24px;
}
.popular_pryde_slider .slick-arrow.slick-prev {
    left: -24px;
}
.popular_pryde_slider .slick-arrow.slick-next {
    right: -24px;
}
@media (max-width: 1199px){
	td.fc-day-number {
		height: 90px;
	}
	.border{
		border: none!important;
	}
	.select_date_appoinment .form-check{
		width: calc(100% / 6);
	}
	.doctor_image {
		width: 100%;
		height: 406px;
		overflow: hidden;
	}
	.dermatology_info img {
		margin: 0px auto;
		height: 31px;
	}
}
@media (max-width: 991px){
	.doctor_image{
		margin-bottom: 30px;
	}
	.doctor_single_slide p {
		line-height: 30px;
		text-align: center;
		margin: 10px 18px;
	}
	.specialities_toggle_menu .col-lg-3.border{
		border: none!important;
	}
	ul.social_media_links{
		float: none;
		text-align: center!important;
	}
	td.fc-day-number {
		height: 60px;
	}
	th.fc-day-header.fc-widget-header{
		padding: 5px;
	}
	.doctor_image img {
		max-width: none;
		max-height: none;
		min-width: fit-content;
	}
	.border-bottom, .border-right{
		border: none!important;
	}
	.doctor_name h4{
		margin-top: 9px;
	}
	.border{
		border: none!important;
	}
	.select_date_appoinment .form-check {
		width: calc(100% / 4);
	}
}
@media(max-width: 767px){
	.footer_right {
		width: 100%;
	}
	.our_service_for_mobile{
		display: block;
	}
	.select_date_appoinment .form-check {
		width: calc(100% / 3);
	}
	.doctor_details button {
		padding: 8px 40px;
		font-size: 15px;
	}
	.tc_apply {
		padding: 15px 0px;
	}
	.fc-toolbar h2 {
		font-size: 25px;
	}
}
@media (max-width: 575px){
	.doctor_login_box a {
		float: none!important;
		width: 100%;
		text-align: center;
		margin: 5px 0px;
	}
	.select_date_appoinment .form-check {
		width: calc(100% / 2);
	}
	.fc-ltr .fc-basic-view .fc-day-number {
		padding: 0px;
	}
}




/*VANSHREE'S CSS START  */

/*video consultation form*/
.video_consult_form{
	border-bottom: 1px solid #dddddd;
	padding: 51px 0px 33px;
}
.video_consult_form .page_title{
	margin-bottom: 26px;
}
.video_consult_form .page_title h1{
	font-size: 26px;
}
.form-control{
	border: 1px solid #d6d6d6;
	padding: 10px 15px;
	border-radius: 0px;
	font-size: 14px;
	color: #222;
	width: 100%;
	height: 40px;
	box-shadow: none !important;
}
.input_with_icont .form-control{
	padding-left: 50px;
}
.input_with_icont{
	position: relative;
}
.input_with_icont img{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 13px;
	margin: auto;
}
.input_with_icont:after{
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 40px;
	margin: auto;
	background-color: #d6d6d6;
	height: 25px;
	width: 1px;
}
/* .ui-datepicker .ui-datepicker-next span.ui-icon {
    background-image: url(../images/downArrow.png) !important;
    background-position: center !important;
    transform: rotate(-90deg);
    background-size: 50% 40%;
}
.ui-datepicker .ui-datepicker-prev span.ui-icon {
    background-image: url(../images/downArrow.png) !important;
    background-position: center !important;
    transform: rotate(90deg);
    background-size: 50% 40%;
} */
/*for radio button*/

/*select button*/
select#doctor_select{
	color: black;
	font-weight: 300;
}

/*pick date*/
.pick_date_time{
		border-bottom: 1px solid #dddddd;
}
.pick_date_time .page-title{
	font-size: 12px;
	font-weight: 300;
}
.page-title{
	display: inline-block;
	float: left;
}
.page_link{
	float: right;
	font-size: 16px;
	font-weight: 600;
	margin-top: -25px;
	color: #008cd2;
}
.main{
	width: 100%;
}
.date_heading{
	padding: 15px 0px;
	margin-top: 25px;
	margin-bottom: 12px; 
}
.pick_date_time .form-check{
	width: 145px;
	margin-left: 15px;
	margin-bottom: 15px;
	padding-left: 0px !important;
	padding-bottom: 0px !important;
}
.pick_date_time .date_div .form-check-label{
	font-size: 14px;
	font-weight: 600;
	color: #797979;
	margin-top: -4px !important;
}
.pick_date_time input[type=radio] {
    display:none;
}
.pick_date_time input[type=radio] + label {
    display:inline-block;
    background-color: white;
    border:1px solid #b5b7b9;
    width: 100%;
    padding: 20px 30px;
}
.pick_date_time input[type=radio]:checked + label { 
    background-color:white;
    border:1px solid #0c4e93;
    width: 100%;
}

/*map remove icon*/
.map_remove_icon{
	font-size: 28px;
	float: right;
	cursor: pointer;
	margin-top: 20px;
}
/*footer minimize icon*/
.footer_minimize_icon{
	font-size: 30px;
	float: right;
	margin-bottom: 15px;
	cursor: pointer;
}
.minimize_footer_logo{
	float: right;
}
