/*banner section css start*/
.banner_section {
    padding: 120px 0px;
    background-image: url(../images/banner_bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.banner_section h4 {
    color: #222;
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 10px;
}
.banner_section h2 {
    font-size: 50px;
    font-weight: 700;
    color: #000;
    padding-bottom: 20px;
}
.banner_section h2 span {
    color: #008cd2;
    display: block;
}
.banner_section p {
    font-size: 20px;
    color: #010101;
    padding: 30px 0px 36px;
    line-height: 35px;
}
.banner_section a.banner_btn {
    font-size: 20px;
    font-weight: 700;
    border: 2px solid #0c4e93;
    color: #0c4e93;
    padding: 17px 35px;
}
/*banner section css end*/
/*our services section css start*/
.our_services_section{
	padding: 65px 0px;
	display: table;
	width: 100%;
}
.nav-tabs a.tab_box {
    height: 150px;
    padding: 15px;
    border-radius: 0px;
    border: 1px solid #dddddd;
}
.nav-tabs a.tab_box:hover,.nav-tabs a.tab_box.active{
	border-color: #0c4e93;
}
.nav-tabs a.tab_box p {
    color: #363636;
    font-size: 16px;
    width: 100%;
    padding-top: 10px;
}
.nav-tabs a.tab_box:hover p, .nav-tabs a.tab_box.active p{
	color: #0c4e93;
}
.nav-tabs a.tab_box img {
    margin: auto;
    max-width: 100%;
    filter: brightness(105%) grayscale(100%);
}
.nav-tabs a.tab_box:hover img,.nav-tabs a.tab_box.active img{
	filter: none;
}
.our_services_section .tab-content {
    padding: 32px;
    background-image: url(../images/home_tab_bg.svg);
    position: relative;
    height: 100%;
}
.our_services_section .tab-content:before{
    background-color: rgba(12, 78, 147, 0.8);
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.our_services_section .tab-content .tab-pane {
    position: relative;
}
.our_services_section .tab-content .tab-pane img {
    filter: brightness(100);
    min-height: 77px;
}
.our_services_section .tab-content .tab-pane h3 {
    font-size: 30px;
    font-weight: 700;
    padding: 30px 0px 4px;
}
.our_services_section .tab-content .tab-pane p {
    font-size: 16px;
    line-height: 35px;
}
.section_title{
    position: relative;
}
.section_title h2 {
    font-size: 26px;
    font-weight: 700;
    padding-bottom: 35px;
}
.section_title h2 img{
	margin-left: 21px;
}
.specialities .section_title h2 {
   padding-bottom: 0;
}
.nav-tabs{
	border: none;
}
.our_service_for_mobile{
    display: none;
}
/*our services section css end*/
/*meet our doctors section css start*/
.meet_our_doctors_section {
    border-top: 1px solid #ddd;
    padding: 63px 83px;
}
.doctor_slider .slick-list {
    margin: 0px -20px;
}
.single_doctor_detial {
    margin: 0px 20px;
}
.single_doctor_detial a{
    color: #222;
    font-size: 16px;
}
.single_doctor_detial a .image_box {
    width: 100%;
    padding-top: 105%;
    position: relative;
}
.single_doctor_detial a .image_box img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: cover;
}
.single_doctor_detial a .text_content {
    padding: 20px 10px;
}
.single_doctor_detial a .text_content span{
    display: block;
    padding: 15px 0px;
}
.single_doctor_detial a .text_content h6{
    font-weight: 700;
}
.doctor_slider .slick-arrow {
    position: absolute;
    height: 56px;
    width: 33px;
    padding: 10px 5px;
    top: 33px;
    bottom: 0;
    margin: auto;
    color: #000;
    border: none;
    outline: none;
    box-shadow: none;
    z-index: 11;
    background-color: #008cd2;
    font-size: 24px;
}
.doctor_slider .slick-arrow.slick-prev {
    left: -83px;
}
.doctor_slider .slick-arrow.slick-next {
    right: -83px;
}
/*meet our doctors section css end*/
/*our customer section css start*/
.our_customer_section{
    border-top: 1px solid #ddd;
    padding:100px 83px;
}
.customer_slider .slick-list {
    margin: 0px -20px;
}
.single_customer_detial {
    margin: 0px 20px;
}
.single_customer_detial a {
    width: 100%;
}
.single_customer_detial a .image_box {
    border: 1px solid #ddd;
    width: 100%;
    position: relative;
    height: 150px;
}
.single_customer_detial a .image_box img{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
}
/*our customer section css end*/




@media(max-width: 1199px){
    .our_services_section{
        padding: 40px 0px;
    }
    .meet_our_doctors_section,.our_customer_section{
        padding: 40px;
    }
    .doctor_slider .slick-arrow.slick-next {
        right: -40px;
    }
    .doctor_slider .slick-arrow.slick-prev {
        left: -40px;
    }
    .banner_section {
        padding: 90px 0px;
    }
    .banner_section h2{
        font-size: 42px;
    }
    .banner_section p{
        font-size: 18px;
        padding: 20px 0px 24px;
    }
    .banner_section a.banner_btn{
        padding: 13px 25px;
        font-size: 18px;
    }
}
@media(max-width: 991px){
    .section_title h2 {
        font-size: 24px;
        padding-bottom: 25px;
    }
    .our_services_section .tab-content .tab-pane img{
        min-height: 50px;
    }
    .our_services_section .tab-content .tab-pane h3{
        padding: 20px 0px 10px;
        font-size: 24px;
    }
    .our_services_section .tab-content .tab-pane p {
        font-size: 14px;
        line-height: 28px;
    }
    .banner_section {
        padding: 50px 0px;
    }
    .banner_section h2{
        font-size: 36px;
    }
    .banner_section p{
        font-size: 16px;
        line-height: 28px;
    }
    .banner_section a.banner_btn{
        font-size: 16px;
        padding: 10px 18px;
    }
}
@media(max-width: 767px){
    .our_services_section{
        padding: 25px 0px;
        display: none;
    }
    .meet_our_doctors_section,.our_customer_section{
        padding: 25px;
    }
    .doctor_slider .slick-arrow.slick-next {
        right: -25px;
    }
    .doctor_slider .slick-arrow.slick-prev {
        left: -25px;
    }
    .our_services_section .tab-content{
        padding: 15px;
    }
    .banner_section {
        padding: 30px 0px;
        background-position: center right;
    }
    .banner_section h4{
        font-size: 16px;
    }
    .banner_section h2{
        font-size: 24px;
    }
    .banner_section img{
        max-width: 80px;
    }
    .banner_section p {
        font-size: 14px;
        line-height: 22px;
        padding: 10px 0px 15px;
    }
    .our_service_for_mobile{
        display: block;
        padding: 25px 0px;
    }
}
@media(max-width: 575px){
    .section_title h2 img{
        display: none;
    }
    .nav-tabs a.tab_box p{
        font-size: 13px;
    }
    .section_title h2 {
        font-size: 20px;
        padding-bottom: 15px;
    }
    .our_services_section .tab-content .tab-pane h3{
        font-size: 20px;
    }
    .banner_section {
        padding: 20px 0px;
        background-position: center right -120px;
    }
}